<link href="~/Content/homeStyle.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Lato|PT+Sans" rel="stylesheet">
@{
    ViewBag.Title = "Home Page";
}


<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">

            @Html.ActionLink("6man.TV", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>

    </div>
</div>

<div class="main">
    <div class="pic">
        <div class="row">
            <div class="jumbotron">

                <h1>#2 Shaker Hts. vs #1 Garfield Hts.</h1>
                <p class="lead">Stay updated with your local high school sports here.</p>
                <a href="~/SignUps/Create" class="btn-2 zoom" type="button" id="button">   Watch Now&raquo;</a>

            </div>
        </div>
    </div>
    </div>
<div class="bottomHeader">
    <h2>More playoff games coming this week...</h2>
    <h4>follow the athletes stories btballers</h4>
</div>
